* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #d2d2d2;   /*전체색상 */
}

/*스크롤바 없애기*/
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* 내부 */
.section input {
    display: none;
}

.section input[id="slide"] {
    display: none;
}

.section .slidewrap{
    max-width: 100%;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.section .slidelist{
    white-space: nowrap;
    font-size: 0;
    padding: 0;
}

.section .slidelist > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slidelist > li > a{
    display: block;
    position: relative;
}

.section .slidelist > li > a img{
    /* width: 100%; */
}

.section .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left{
    left: 0;
    margin: 28% 0 0 0;
    background: url("memo_goods/left.png") center center / 100% no-repeat;
}

.section .slidelist .right{
    right: 0;
    background: url("memo_goods/right.png") center center / 100% no-repeat;

}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}


/*가운데(본전시)이미지 배치*/

.enter .exit .logo{
    position: absolute;
    margin: -42% 0 0 35.5%;
}

.enter .light{
    position: absolute;
    margin: -70% 0 0 0;
}

.enter .art_wrapper .art1{
    position: absolute;
    margin: -32% 0 0 6%;
}

.enter .art_wrapper .art2{
    position: absolute;
    margin: -32% 0 0 25%;
}

.enter .art_wrapper .art3{
    position: absolute;
    margin: -32% 0 0 44%;
}

.enter .art_wrapper .art4{
    position: absolute;
    margin: -32% 0 0 63%;
}

.enter .art_wrapper .art5{
    position: absolute;
    margin: -32% 0 0 82%;
}

/* 세번째(게시판&굿즈) 이미지 배치*/
.memo .light{
    position: absolute;
    margin: -70% 0 0 0;
}

.memo .below{
    position: absolute;
    margin: -45% 0 0 8%;
}

.memo .board{
    position: absolute;
    margin: -37% 0 0 7%;
}

.goods .comfort{
    position: absolute;
    margin: -45% 0 0 65%;
}

.goods .goodsBoard{
    position: absolute;
    margin: -35% 0 0 55%
}