* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #d2d2d2;   /*전체색상 */
}

/*스크롤바 없애기*/
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* 내부 */
.section input {
    display: none;
}

.section input[id="slide"] {
    display: none;
}

.section .slidewrap{
    max-width: 100%;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.section .slidelist{
    white-space: nowrap;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.section .slidelist ul{
    margin: 0;
}

.section .slidelist > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slidelist > li > a{
    display: block;
    position: relative;
}

.section .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left{
    left: 0;
    background: url("memo_goods/left.png") center center / 100% no-repeat;
    margin: 28% 0 0 0;
}

.section .slidelist #left_2{
    
}

.section .slidelist .right{
    right: 0;
    background: url("memo_goods/right.png") center center / 100% no-repeat;

}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}

/*첫번째(개인전시)이미지 배치*/
.indiv .light{
    position: absolute;
    margin: -50% 0 0 0;
}
/*예나*/
.indiv .mockup .yena .yena_1{
    position: absolute;
    margin: -37% 0 0 7%;
}
.indiv .mockup .yena .yena_2{
    position: absolute;
    margin: -39% 0 0 14%;
}
.indiv .mockup .yena .yena_3{
    position: absolute;
    margin: -30% 0 0 8%;
}
.indiv .mockup .yena .yena_4{
    position: absolute;
    margin: -32% 0 0 15%;
}
.indiv .mockup .yena .yena_explain{
    position: absolute;
    margin: -35% 0 0 24%;
}
/*채원*/
.indiv .mockup .chaewon .chaewon_1{
    position: absolute;
    margin: -37% 0 0 37%;
}
.indiv .mockup .chaewon .chaewon_2{
    position: absolute;
    margin: -39% 0 0 44%;
}
.indiv .mockup .chaewon .chaewon_3{
    position: absolute;
    margin: -30% 0 0 38%;
}
.indiv .mockup .chaewon .chaewon_4{
    position: absolute;
    margin: -32% 0 0 45%;
}
.indiv .mockup .chaewon .chaewon_explain{
    position: absolute;
    margin: -35% 0 0 54%;
}

/*지영*/
.indiv .mockup .jiyoung .jiyoung_1{
    position: absolute;
    margin: -37% 0 0 68%;
}
.indiv .mockup .jiyoung .jiyoung_2{
    position: absolute;
    margin: -39% 0 0 75%;
}
.indiv .mockup .jiyoung .jiyoung_3{
    position: absolute;
    margin: -30% 0 0 69%;
}
.indiv .mockup .jiyoung .jiyoung_4{
    position: absolute;
    margin: -32% 0 0 76%;
}
.indiv .mockup .jiyoung .jiyoung_explain{
    position: absolute;
    margin: -35% 0 0 85%;
}
/*모달*/
.Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index:100000000;
}

.modal-content {
    float: left;
    background-color: #fefefe;
    margin: 3% auto 5% 40%; /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */  
    border-radius: 30px;     
    justify-content:center; 
    align-items:center;
    animation: appear .8s cubic-bezier(.77,0,.175,1) forwards;                   
}

.modal-content p{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1rem;
    white-space: nowrap;
    /* color: transparent; */
    margin: 0;
    /* position: absolute; */
    /*글자 위치 대충 여기서 조절하면 됨!*/
    top: 0;
    left: 0;
}

.modal-content #title{
    font-weight: bold;
}
.modal-content #name{
    font-weight: 100;
    font-size: 0.5rem;
}
.modal-content #explain{
    font-size: 0.8rem;
    color: gray;
}

.pop_bt{
    display: block;
    font-size: 13pt;
    text-align: center;
    margin: 0.5rem auto 0 auto;
}
/*가운데(본전시)이미지 배치*/

.enter .exit .logo{
    position: absolute;
    margin: -42% 0 0 35.5%;
}

.enter .light{
    position: absolute;
    margin: -70% 0 0 0;
}

.enter .art_wrapper .art1{
    position: absolute;
    margin: -32% 0 0 6%;
}

.enter .art_wrapper .art2{
    position: absolute;
    margin: -32% 0 0 25%;
}

.enter .art_wrapper .art3{
    position: absolute;
    margin: -32% 0 0 44%;
}

.enter .art_wrapper .art4{
    position: absolute;
    margin: -32% 0 0 63%;
}

.enter .art_wrapper .art5{
    position: absolute;
    margin: -32% 0 0 82%;
}

/* 세번째(게시판&굿즈) 이미지 배치*/
.memo .light{
    position: absolute;
    margin: -70% 0 0 0;
}

.memo .below{
    position: absolute;
    margin: -43.6% 0 0 8.5%;
}

.memo .text{
    position: absolute;
    margin: -40.5% 0 0 28%;
}

.memo .board{
    position: absolute;
    margin: -36% 0 0 7%;
}

.goods .comfort{
    position: absolute;
    margin: -39% 0 0 68%;
}

.goods .goodsText{
    position: absolute;
    margin: -33.5% 0 0 83%;
}

.goods .goodsBoard{
    position: absolute;
    margin: -34% 0 0 50%;
}