* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #86aec7;   /*전체색상 */
}

/*사이드바 끝*/
#label{
    position: fixed;
}

a{
    text-decoration: none;
    color: #fff;
}

input[id="navbar_menu"]{
    display: none;
}

input[id="navbar_menu"] + label{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

input[id="navbar_menu"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: teal;
    transition: all .35s;
}

input[id="navbar_menu"] + label span:nth-child(1){
    top:0;
}

input[id="navbar_menu"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="navbar_menu"] + label span:nth-child(3){
    bottom:0;
}

/*check 되었을 때*/
input[id="navbar_menu"]:checked + label{
    z-index: 2;
}

input[id="navbar_menu"]:checked + label span{
    background: #fff;
}

input[id="navbar_menu"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="navbar_menu"]:checked + label span:nth-child(2){
    opacity: 0; /* 투명도 */
}

input[id="navbar_menu"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    list-style: none;
    width:300px; 
    height: 100%; 
    background:teal; 
    position: fixed; /*스크롤해도 고정됨, 상단에*/
    top: 0; 
    left: -300px; 
    z-index: 1; /*position의 우선순위*/
    transition: all .35s;} /*변화값에 모션을 주는 설정*/

input[id="navbar_menu"]:checked + label + div {
    left:0;
}

.sidebar a{
    padding: 50px 0px 0px 25px;
    font-size: 16px;
    color:white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color:aquamarine;
}
/*사이드바 끝*/

/*내비게이션 바*/
/* .navbar {
    background-color: rgb(9, 4, 31);
    height: 120px;
    padding: 0 50px;
    position: sticky;
    padding-top: 60px;
    top: -60px;
    opacity: 0.7;
    backdrop-filter: blur(30px);
}

.navbar #menu { 
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar #menu li {
    padding: 0 20px;
    cursor: pointer;
    float: left;
    line-height: 60px;
}
.navbar #menu li:not(:last-child) {
    margin-right: 40px;
}

.navbar #menu li:hover {
    background-color: gray;
}

.navbar #menu li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
} */

/*스크롤바 없애기*/
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}
.wrapper{
    display: relative;
    /* min-height: 500px; */
    overflow: hidden;
}

.img{
    display: absolute;
}

.wrapper .logo_wrapper .logo{
    position: sticky;
    margin: -90% 0 0 37.1%;
}

.wrapper .button_wrapper .button1{
    position: absolute;
    margin: -10% 0 0 41.8%;
}

.wrapper .button_wrapper .button2{
    position: absolute;
    margin: -10% 0 0 41.8%;
    opacity: 0;
}

.wrapper .button_wrapper .button1:hover{
    opacity: 0;
}

.wrapper .button_wrapper .button2:hover{
    opacity: 1;    
}

body{
    animation: fadein 2000ms ease-out;
    -moz-animation: fadein 2000ms ease-out; /* Firefox */
    -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
    -o-animation: fadein 2000ms ease-out; /* Opera */

    /* animation: zoom 2000ms ease-out;
    -moz-animation: zoom 2000ms ease-out;
    -webkit-animation: zoom 2000ms ease-out;
    -o-animation: zoom 2000ms ease-out; */
}

/*페이드인 애니메이션&*/
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}

/*확대 애니메이션*/
@keyframes zoom {
    from {transform: scale(1);}
    to {transform: scale(2);}
}

@-moz-keyframes zoom { /* Firefox */
    from {transform: scale(1);}
    to {transform: scale(2);}
}

@-webkit-keyframes zoom { /* Safari and Chrome */
    from {transform: scale(1);}
    to {transform: scale(2);}
}

@-o-keyframes zoom { /* Opera */
    from {transform: scale(1);}
    to {transform: scale(2);}
}

/* 내부 */
.enter .exit .logo{
    position: absolute;
    margin: -42% 0 0 35.5%;
}

.enter .light{
    position: absolute;
    margin: -50% 0 0 35.5%;
}

.enter .art #art1{
    position: absolute;
    margin: -32% 0 0 2%;
}

.enter .art #art1_5{
    position: absolute;
    margin: -32% 0 0 21.5%;
}

.enter .art #art2{
    position: absolute;
    margin: -32% 0 0 41%;
}

.enter .art #art3{
    position: absolute;
    margin: -32% 0 0 60.5%;
}

.enter .art #art4{
    position: absolute;
    margin: -32% 0 0 80%;
}
