html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.blur-it {
    filter: blur(4px);
} 

.wrapper{
    position: relative;
}

#bg{
    position: relative;
    top: 0;
    left: 0;
}

.img:not(:last-child){
    position: absolute;
    top: 200px;
    left: 0;
}

#fg{
    position: absolute;
    bottom:0;
    left: 0;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 600px;

    padding: 40px;

    text-align: center;

    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
  }

/* input.btn_open_popup{
    background-image: url("../images/moniter.png") no-repeat;
    border: none;
    width: "100%";
    cursor: pointer;
} */


/*세로 진행 바 시작*/
.progress {
    position: fixed;
    width: 4px;
    height: 140px;
    top: 40%;
    right: 10px;
    background-color: black;
    z-index: 10;
}

.bar{
    position: absolute;
    width: 4px;
    height: 140px;
    top: 0;
    right: 0;
    background-color: chartreuse;
    z-index: 11;
}
/*세로 진행 바 끝*/

/*깜빡이는 효과 시작*/
.blinking{ 
    -webkit-animation:blink 1.0s ease-in-out infinite alternate; 
    -moz-animation:blink 1.0s ease-in-out infinite alternate; 
    animation:blink 1.0s ease-in-out infinite alternate; 
}

@-webkit-keyframes blink{
    0% {opacity:0;} 
    100% {opacity:1;} 
} 

@-moz-keyframes blink{
    0% {opacity:0;} 
    100% {opacity:1;} 
} 

@keyframes blink{
    0% {opacity:0;} 
    100% {opacity:1;} 
}
/*깜빡이는 효과 끝*/