/* 스크롤 없애기 */
body{
    -ms-overflow-style: none;
    background-color: #ecede4;
}

body::-webkit-scrollbar{
    display: none;
}

/* 엔딩크레딧 */
.credit{
    position: relative;
    min-height: 400px;
}
  
.img{
    position: absolute;
}
  
.credit .bg{
    margin: auto 0 0 0;
}
  
.small_wrapper .front_wrapper .cd{
    position: absolute;
    margin: 18.95% 0 0 109.3%;
    cursor: pointer;
    
    -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
     -ms-animation: rotate 3s linear infinite;
      -o-animation: rotate 3s linear infinite;
         animation: rotate 3s linear infinite;
}

@keyframes rotate{
    100%{
      transform: rotate(360deg);
    }
}


/* 공지사항 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index:100000000;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% 40% 0 33%; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */  
    border-radius: 30px;     
    animation: appear .8s cubic-bezier(.77,0,.175,1) forwards;                   
}

.btn{
    background-color: #b7c4dd;
    border: 0;
    outline: none;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgb(202, 202, 202), -2px -2px 2px rgb(237, 237, 237);
    transition: 0.3s;
    margin: 0% 40% -5% 40%;
    padding: 5px 10px 5px 21px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    box-shadow: -2px -2px 2px rgb(226, 226, 226), 2px 2px 2px rgb(237, 237, 237);
    transition: 0.3s;
}


p{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align:center;
    font-size: 17px;
}

.dialog__animate-out{
    animation: dissappear .8s cubic-bezier(.77,0,.175,1) forwards;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes dissappear {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
