/* 스크롤 없애기 */
body{
    -ms-overflow-style: none;
    background-color: #ecede4;
}

body::-webkit-scrollbar{
    display: none;
}

/* 엔딩크레딧 */
.credit{
    position: relative;
    min-height: 400px;
}
  
.img{
    position: absolute;
}
  
.credit .bg{
    margin: auto 0 0 0;
}
  
.small_wrapper .front_wrapper .cd{
    position: absolute;
    margin: 18.95% 0 0 109.3%;
    
    -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
     -ms-animation: rotate 3s linear infinite;
      -o-animation: rotate 3s linear infinite;
         animation: rotate 3s linear infinite;
}

@keyframes rotate{
    100%{
      transform: rotate(360deg);
    }
}