html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'Baloo Chettan 2', cursive;
}

a{
    text-decoration: none;
    color: #fff;
}

input[id="navbar_menu"]{
    display: none;
}

input[id="navbar_menu"] + label{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

input[id="navbar_menu"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: teal;
    transition: all .35s;
}

input[id="navbar_menu"] + label span:nth-child(1){
    top:0;
}

input[id="navbar_menu"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="navbar_menu"] + label span:nth-child(3){
    bottom:0;
}

/*check 되었을 때*/
input[id="navbar_menu"]:checked + label{
    z-index: 2;
}

input[id="navbar_menu"]:checked + label span{
    background: #fff;
}

input[id="navbar_menu"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="navbar_menu"]:checked + label span:nth-child(2){
    opacity: 0; /* 투명도 */
}

input[id="navbar_menu"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    list-style: none;
    width:300px; 
    height: 100%; 
    background:teal; 
    position: fixed; /*스크롤해도 고정됨, 상단에*/
    top: 0; 
    left: -300px; 
    z-index: 1; /*position의 우선순위*/
    transition: all .35s;} /*변화값에 모션을 주는 설정*/

input[id="navbar_menu"]:checked + label + div {
    left:0;
}

.sidebar a{
    padding: 50px 0px 0px 25px;
    font-size: 16px;
    color:white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color:aquamarine;
}

/* 여기까지가 sidebar */

/* 스크롤 없애기 */
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* 이미지 배치 */
.wrapper{
    position: relative;
}

.img{
    position: absolute;
    top: 280px;
    left: 0;
}

#bgfish3{
    position: absolute;
    top: 0;
    left: 0em;
}

#fish{
    position: absolute;
    top: 15em;
    left: -55em;
}

#jellyfish{
    left: 20em;
}

#whale2{
    top: -10em;
    left: -17em;
}

#whale{
    top: -10em;
    left: 45em;
}

#rock1{
    position: absolute;
    top: 17.5em;
    left: 0em;
}

#rock{
    top: 17em;
    left: 0em;
}

/* ----------world---------- */

/* -----------꽃------------ */ 
.modal-wrapper{
    position: relative;
}

.world2{
    position: absolute;
}

#flower1{
    /* 꽃 애니메이션 삽입 */ 
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: flower .9s ease-in-out 3s infinite alternate;
    -moz-animation: flower .9s ease-in-out 3s infinite alternate;
     -ms-animation: flower .9s ease-in-out 3s infinite alternate;
      -o-animation: flower .9s ease-in-out 3s infinite alternate;
         animation: flower 2s ease-in-out 0s infinite linear;
}

/* 꽃 애니메이션 */
@-webkit-keyframes flower {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@-moz-keyframes flower {
    from{
        -moz-transform: rotate(5deg);
    } to{
        -moz-transform: rotate(-5deg);
    }
}
@-ms-keyframes flower {
    from{
        -ms-transform: rotate(5deg);
    } to{
        -ms-transform: rotate(-5deg);
    }
}
@-o-keyframes flower {
    from{
        -o-transform: rotate(5deg);
    } to{
        -o-transform: rotate(-5deg);
    }
}
@keyframes flower {
    0%, 50%{
        transform: rotate(0deg);
    }
    5%, 15%, 25%, 35%, 45%{
        transform: rotate(13deg);
    }
    10%, 20%, 30%, 40%{
        transform: rotate(-13deg);
    }
}
/* ----------꽃 끝---------- */
/* ----------room(방)----------- */
.room1{
    position: absolute;
    margin: 52.2% 0 0 22.4%;
}

.room2{
    position: absolute;
    margin: 114% 0 0 68%;
}

.room3{
    position: absolute;
    margin: 172% 0 0 17.95%;
}

.room4{
    position: absolute;
    top: 210em;
    left: 64.35em;
}

.room5{
    position: absolute;
    top: 231.5em;
    left: 33em;
}

/* ------------door(문)------------ */
.door-opened .door-body{
    transform: perspective(100vw) rotateY(80deg);
}

.door1{
    position: absolute;
    margin: 52.2% 0 0 22.4%;
    /* top: 50em;
    left: 21.5em; */

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

.door2{
    position: absolute;
    margin: 114% 0 0 68%;
    /* top: 110em;
    left: 65.5em; */

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

.door3{
    position: absolute;
    margin: 172% 0 0 17.95%;
    /* top: 165.25em;
    left: 17.25em; */

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

.door4{
    position: absolute;
    top: 210em;
    left: 64.35em;

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

/* 팝업 */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index:100000000;
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 840px; /* Could be more or less, depending on screen size */ 
    height: 85%;                       
}

#world1{
    position: absolute;
    width: 800px;
}
#world2{
    position: absolute;
    width: 800px;
}
#world3{
    position: absolute;
    width: 800px;
}
#world4{
    position: absolute;
    width: 800px;
}