html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'Baloo Chettan 2', cursive;
}

a{
    text-decoration: none;
    color: #fff;
}

input[id="navbar_menu"]{
    display: none;
}

input[id="navbar_menu"] + label{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

input[id="navbar_menu"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: teal;
    transition: all .35s;
}

input[id="navbar_menu"] + label span:nth-child(1){
    top:0;
}

input[id="navbar_menu"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="navbar_menu"] + label span:nth-child(3){
    bottom:0;
}

/*check 되었을 때*/
input[id="navbar_menu"]:checked + label{
    z-index: 2;
}

input[id="navbar_menu"]:checked + label span{
    background: #fff;
}

input[id="navbar_menu"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="navbar_menu"]:checked + label span:nth-child(2){
    opacity: 0; /* 투명도 */
}

input[id="navbar_menu"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    list-style: none;
    width:300px; 
    height: 100%; 
    background:teal; 
    position: fixed; /*스크롤해도 고정됨, 상단에*/
    top: 0; 
    left: -300px; 
    z-index: 1; /*position의 우선순위*/
    transition: all .35s;} /*변화값에 모션을 주는 설정*/

input[id="navbar_menu"]:checked + label + div {
    left:0;
}

.sidebar a{
    padding: 50px 0px 0px 25px;
    font-size: 16px;
    color:white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color:aquamarine;
}

/* 여기까지가 sidebar */

/* 스크롤 없애기 */
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* 이미지 배치 */
.wrapper{
    position: relative;
}

.img{
    position: absolute;
    top: 280px;
    left: 0;
}

#bgfish3{
    position: absolute;
    top: 0;
    left: 0em;
}

#bgjellyfish{
    position: absolute;
    left: 10em;
}

#fish{
    position: absolute;
    top: 15em;
    left: -55em;
}

#jellyfish{
    left: 20em;
}

#whale2{
    top: -10em;
    left: -17em;
}

#whale{
    top: -10em;
    left: 45em;
}

#rock1{
    position: absolute;
    top: 17.5em;
    left: 0em;
}

#rock{
    top: 17em;
    left: 0em;
}

/* ----------world---------- */
.pop_bt{
    display: block;
    font-size: 13pt;
    text-align: center;
    margin: 0 auto 0 auto;
}

/* ----------하늘----------- */
.world1 .w1-cutter{
  position: relative;
  overflow: hidden;
}

.w1 {
  display: flex;
  overflow: hidden;
}

#airplane{
  position: absolute;
  margin: -53% 0 0 10%;
  animation-name: airplane;
  animation-duration: 30s;
 animation-timing-function: linear;
}

#cloud_left{
  position: absolute;
  margin: -50% 0 0 -16%;
  animation-name: cloud_left;
  animation-duration: 50s;
 animation-timing-function: linear;
}

#cloud_right{
  position: absolute;
  margin: -50% 0 0 57%;
  animation-name: cloud_left;
  animation-duration: 50s;
 animation-timing-function: linear;
}

/* #sentence1{
  position: absolute;
  margin: -50% 0 0 25%;
} */

#hand{
  position: absolute;
  margin: -35% 0 0 -10%;
  animation-name: hand;
  animation-duration: 5s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-fill-mode: forwards;
}

#small-cloud{
  position: absolute;
  margin: -15% 0 0 25%;
  animation-name: cloud_left;
  animation-duration: 40s;
 animation-timing-function: linear;
}

#tree_back{
  position: absolute;
  margin: -15% 0 0 -10%;
  animation-name: tree_back;
  animation-duration: 1.5s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-fill-mode: forwards;
}

#tree_front{
  position: absolute;
  margin: -15.2% 0 0 15%;
  animation-name: tree_front;
  animation-duration: 1.5s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-fill-mode: forwards;
}

/*글씨 나타나는 효과*/
.world1 .w1-cutter p{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.5rem;
  white-space: nowrap;
  color: transparent;
  margin: 0;
  position: absolute;
  /*글자 위치 대충 여기서 조절하면 됨!*/
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.world1 .w1-cutter p::before{
  content: "가끔은 창 밖의 하늘을 바라보는건 어떨까요?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  animation: typing 5s steps(100);  /*steps 괄호 안 숫자는 멘트 길이.*/
}


/* 비행기 애니메이션 */
@-webkit-keyframes airplane {
  0% {
    top:446px;
    left: 0px;
    
  }
  100% {
    top:600px;
    left: 200px;
  }
}
@-moz-keyframes airplane {
  0% {
    top:446px;
    left: 0px;
    
  }
  100% {
    top:600px;
    left: 200px;
  }
}
@-ms-keyframes airplane {
  0% {
    top:446px;
    left: 0px;
    
  }
  100% {
    top:600px;
    left: 200px;
  }
}
@-o-keyframes airplane {
  0% {
    top:446px;
    left: 0px;
    
  }
  100% {
    top:600px;
    left: 200px;
  }
}
@keyframes airplane {
  0% {
      top:446px;
      left: 0px;
      
    }
    100% {
      top:600px;
      left: 200px;
    }
  }
/* 구름(왼) 애니메이션 */
@-webkit-keyframes cloud_left {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@-moz-keyframes cloud_left {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@-ms-keyframes cloud_left {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@-o-keyframes cloud_left {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@keyframes cloud_left {
  0% {
      left: 20px;
      
    }
    100% {
      left: 40px;
    }
  }

/* 구름(오) 애니메이션 */
@-webkit-keyframes cloud_right {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@-moz-keyframes cloud_right {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@-ms-keyframes cloud_right {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@-o-keyframes cloud_right {
  0% {
      top:445px;
      left: 20px;
      
    }
    100% {
      top:446px;
      left: 21px;
    }
  }
@keyframes cloud_right {
  0% {
      left: 20px;
      
    }
    100% {
      left: 30px;
    }
  }

/* 나무(뒤) 애니메이션 */
@-webkit-keyframes tree_back {
0% {
  left:52px;
}
100% {
  left:50px;
}
}
@-moz-keyframes tree_back {
0% {
  left:52px;
}
100% {
  left:50px;
}
}
@-ms-keyframes tree_back {
0% {
  left:52px;
}
100% {
  left:50px;
}
}
@-o-keyframes tree_back {
0% {
  left:52px;
}
100% {
  left:50px;
}
}
@keyframes tree_back {
0% {
  left:52px;
}
100% {
  left:48px;
}
}
/* 나무(앞) 애니메이션 */
@-webkit-keyframes tree_front {
  0% {
      left: 50px;
    }
    100% {
      left: 52px;
    }
  }
@-moz-keyframes tree_front {
  0% {
      left: 50px;
    }
    100% {
      left: 52px;
    }
  }
@-ms-keyframes tree_front {
  0% {
      left: 50px;
    }
    100% {
      left: 52px;
    }
  }
@-o-keyframes tree_front {
  0% {
      left: 50px;
    }
    100% {
      left: 52px;
    }
  }
@keyframes tree_front {
  0% {
      left: 50px;
    }
    100% {
      left: 54px;
    }
  }

/* 손 애니메이션 */
@-webkit-keyframes hand {
  0% {
      top:448px;
      left: 50px;
    }
    100% {
      top:452px;
      left: 50px;
    }
  }
@-moz-keyframes hand {
  0% {
      top:448px;
      left: 50px;
    }
    100% {
      top:452px;
      left: 50px;
    }
  }
@-ms-keyframes hand {
  0% {
      top:448px;
      left: 50px;
    }
    100% {
      top:452px;
      left: 50px;
    }
  }
@-o-keyframes hand {
  0% {
      top:448px;
      left: 50px;
    }
    100% {
      top:452px;
      left: 50px;
    }
  }
@keyframes hand {
  0% {
      top:448px;
      left: 50px;
    }
    100% {
      top:455px;
      left: 55px;
    }
  }

/* ---------하늘 끝---------- */

/* -----------꽃------------ */ 
.world2{
    position: relative;
    overflow: hidden;
}

.w2_cutter{
    position: relative;
    overflow: hidden;
}

.world2 .w2_bg_content .cloudL{
    position: absolute;
    margin: -48% 0 0 -53%;
    animation: cloudL 10s ease-in-out infinite alternate;
}

.world2 .w2_bg_content .cloudR{
    position: absolute;
    margin: -57% 0 0 5%;
    animation: cloudR 7s ease-in-out infinite alternate;
}

.world2 .w2_bg_content .ground{
    position: absolute;
    margin: -57.3% 0 0 -50.1%;
}
/*글씨 나타나는 효과*/
.world2 .w2_bg_content p{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.5rem;
  white-space: nowrap;
  color: transparent;
  margin: 0;
  position: absolute;
  /*글자 위치 대충 여기서 조절하면 됨!*/
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.world2 .w2_bg_content p::before{
  content: "바쁜 일상 속에서 나와 여유를 느껴보는 건 어떨까요?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  animation: typing 5s steps(100);  /*steps 괄호 안 숫자는 멘트 길이.*/
}

/*광기의 시작*/
.world2 .w2_flower_content .flower_bg1{
    position: absolute;
    margin: -33.5% 0 0 -50%;
}

.world2 .w2_flower_content .flower1{
    position: absolute;
    margin: -17% 0 0 -1.9%;
}

.world2 .w2_flower_content .flower2{
    position: absolute;
    margin: -24.5% 0 0 12.8%;
}

.world2 .w2_flower_content .flower3{
    position: absolute;
    margin: -22% 0 0 22%;
}
.world2 .w2_flower_content .flower_bg2{
    position: absolute;
    margin: -27% 0 0 -13%;
}
.world2 .w2_flower_content .flower4{
    position: absolute;
    margin: -32% 0 0 -23%;
}
.world2 .w2_flower_content .flower5{
    position: absolute;
    margin: -22.5% 0 0 2%;
}
.world2 .w2_flower_content .flower6{
    position: absolute;
    margin: -31.5% 0 0 -4%;
}
.world2 .w2_flower_content .flower7{
    position: absolute;
    margin: -29% 0 0 16%;
}
.world2 .w2_flower_content .flower8{
    position: absolute;
    margin: -22% 0 0 16%;
}
.world2 .w2_flower_content .flower9{
    position: absolute;
    margin: -24% 0 0 -13%;
}
.world2 .w2_flower_content .flower10{
    position: absolute;
    margin: -25% 0 0 6%;
}
.world2 .w2_flower_content .flower11{
    position: absolute;
    margin: -24% 0 0 -39%;
}
.world2 .w2_flower_content .flower12{
    position: absolute;
    margin: -19.5% 0 0 -20%;
}
.world2 .w2_flower_content .flower13{
    position: absolute;
    margin: -25% 0 0 37%;
}
.world2 .w2_flower_content .flower14{
    position: absolute;
    margin: -23% 0 0 -50%;
}
.world2 .w2_flower_content .flower15{
    position: absolute;
    margin: -24% 0 0 -25%;
}
.world2 .w2_flower_content .flower16{
    position: absolute;
    margin: -21% 0 0 -33%;
}
.world2 .w2_flower_content .flower17{
    position: absolute;
    margin: -16% 0 0 11%;
}
.world2 .w2_flower_content .flower18{
    position: absolute;
    margin: -20% 0 0 -43%;
}
.world2 .w2_flower_content .flower19{
    position: absolute;
    margin: -12% 0 0 -18%;
}
.world2 .w2_flower_content .flower20{       /*맨 앞 큰 꽃*/
    position: absolute;
    margin: -14.15% 0 0 -49%;
}
.world2 .w2_flower_content .flower21{
    position: absolute;
    margin: -17% 0 0 -35%;
}
.world2 .w2_flower_content .flower22{       /*맨 앞 큰 꽃*/
    position: absolute;
    margin: -15.8% 0 0 15%;
}
.world2 .w2_flower_content .flower23{       /*맨 앞 큰 꽃*/
    position: absolute;
    margin: -13.2% 0 0 -28%;
}
.world2 .w2_flower_content .flower24{       /*맨 앞 풀*/
    position: absolute;
    margin: -36.4% 0 0 31%;
}
.world2 .w2_flower_content .flower25{       /*맨 앞 풀*/
    position: absolute;
    margin: -30% 0 0 -48%;
}
.world2 .w2_flower_content .flower26{
    position: absolute;
    margin: -20% 0 0 -10%;
}
.world2 .w2_flower_content .flower27{
    position: absolute;
    margin: -18% 0 0 1%;
}
.world2 .w2_flower_content .flower28{
    position: absolute;
    margin: -24.5% 0 0 23.5%;
}
.world2 .w2_flower_content .flower29{
    position: absolute;
    margin: -16% 0 0 -49%;
}
.world2 .w2_flower_content .flower30{
    position: absolute;
    margin: -25% 0 0 -20%;
}
.world2 .w2_flower_content .flower31{
    position: absolute;
    margin: -19% 0 0 9%;
}
.world2 .w2_flower_content .flower32{
    position: absolute;
    margin: -27% 0 0 32.5%;
}
.world2 .w2_flower_content .flower33{
    position: absolute;
    margin: -22% 0 0 -16%;
}
.world2 .w2_flower_content .flower34{
    position: absolute;
    margin: -20.5% 0 0 -15%;
}
.world2 .w2_flower_content .flower35{
    position: absolute;
    margin: -14% 0 0 -10%;
}
.world2 .w2_flower_content .flower36{       /*맨 앞 큰 꽃*/
    position: absolute;
    margin: -15.2% 0 0 -32%;
}

.flower1, .flower3, .flower4, .flower6, .flower8, .flower10, .flower12, .flower14, .flower16, .flower17, .flower19, .flower29, .flower31, .flower33, .flower34{
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
     -ms-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
         transform-origin: 0% 100%;

    -webkit-animation: flower 5s ease-in-out 0s infinite alternate;
    -moz-animation: flower 5s ease-in-out 0s infinite alternate;
     -ms-animation: flower 5s ease-in-out 0s infinite alternate;
      -o-animation: flower 5s ease-in-out 0s infinite alternate;
         animation: flower 5s ease-in-out 0s infinite alternate;
}

.flower2, .flower_bg2, .flower5, .flower7, .flower9, .flower11, .flower13, .flower15, .flower18, .flower21, .flower26, .flower27, .flower28, .flower30, .flower32, .flower35{
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
     -ms-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
         transform-origin: 0% 100%;

    -webkit-animation: flower2 3s ease-in-out 0s infinite alternate;
    -moz-animation: flower2 3s ease-in-out 0s infinite alternate;
     -ms-animation: flower2 3s ease-in-out 0s infinite alternate;
      -o-animation: flower2 3s ease-in-out 0s infinite alternate;
         animation: flower2 3s ease-in-out 0s infinite alternate;
}

.flower24, .flower25{
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
     -ms-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
         transform-origin: 0% 100%;

    -webkit-animation: flower3 3s ease-in-out 0s infinite alternate;
    -moz-animation: flower3 3s ease-in-out 0s infinite alternate;
     -ms-animation: flower3 3s ease-in-out 0s infinite alternate;
      -o-animation: flower3 3s ease-in-out 0s infinite alternate;
         animation: flower3 3s ease-in-out 0s infinite alternate;
}
/*구름 움직임*/
@keyframes cloudL {
  from{
      transform: translateX(0px);
  } to{
      transform: translateX(-50px);
  }
}
@keyframes cloudR {
  from{
      transform: translateX(0px);
  } to{
      transform: translateX(50px);
  }
}
/* 꽃 애니메이션 */
/*중간 정도의 흔들림*/
@-webkit-keyframes flower {     
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@-moz-keyframes flower {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@-ms-keyframes flower {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@-o-keyframes flower {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@keyframes flower {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
/*강한 흔들림*/
@-webkit-keyframes flower2 {
    from{
        -webkit-transform: rotate(-3deg);
    } to{
        -webkit-transform: rotate(3deg);
    }
}
@-moz-keyframes flower2 {
    from{
        -webkit-transform: rotate(-3deg);
    } to{
        -webkit-transform: rotate(3deg);
    }
}
@-ms-keyframes flower2 {
    from{
        -webkit-transform: rotate(-3deg);
    } to{
        -webkit-transform: rotate(3deg);
    }
}
@-o-keyframes flower2 {
    from{
        -webkit-transform: rotate(-3deg);
    } to{
        -webkit-transform: rotate(3deg);
    }
}
@keyframes flower2 {
    from{
        -webkit-transform: rotate(-3deg);
    } to{
        -webkit-transform: rotate(3deg);
    }
}
/*약한 흔들림*/
@-webkit-keyframes flower3 {
    from{
        -webkit-transform: rotate(-1deg);
    } to{
        -webkit-transform: rotate(1deg);
    }
}
@-moz-keyframes flower3 {
    from{
        -webkit-transform: rotate(-1deg);
    } to{
        -webkit-transform: rotate(1deg);
    }
}
@-ms-keyframes flower3 {
    from{
        -webkit-transform: rotate(-1deg);
    } to{
        -webkit-transform: rotate(1deg);
    }
}
@-o-keyframes flower3 {
    from{
        -webkit-transform: rotate(-1deg);
    } to{
        -webkit-transform: rotate(1deg);
    }
}
@keyframes flower3 {
    from{
        -webkit-transform: rotate(-1deg);
    } to{
        -webkit-transform: rotate(1deg);
    }
}

/* ----------꽃 끝---------- */
/* ---------운동 시작(world3)------*/
.world3{
    position: relative;
    overflow: hidden;
}

.w3_cutter{
    position: relative;
    overflow: hidden;
}

.world3 .w3_content .basketball{
    position: absolute;
    margin: -48.7% 0 0 -3%;
}
.world3 .w3_content .basket_shadow{
    position: absolute;
    margin: -49% 0 0 1%;
    animation: w3_shadow 3s ease-in-out 0s infinite alternate;
}
.world3 .w3_content .light{
    position: absolute;
    margin: -53% 0 0 -40%;

    transform-origin: 0% 0%;
    animation: w3_light 3s ease-in-out 0s infinite alternate;
}
/*글씨 나타나는 효과*/
.world3 .w3_content p{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3rem;
    white-space: nowrap;
    color: transparent;
    margin: 0;
    position: absolute;
    /*글자 위치 대충 여기서 조절하면 됨!*/
    top: 90%;
    left: 35%;
    /*이거는 글자 가운데정렬!*/
    transform: translate(-50%, -50%);
}
.world3 .w3_content p::before{
    content: "운동으로 기분전환 해보는 건 어떨까요?";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    animation: typing 5s steps(100);  /*steps 괄호 안 숫자는 멘트 길이.*/
}
@keyframes w3_shadow {
  from{
      transform: translate(0px, 0px)
  } to{
      transform: translate(10px, -10px);
  }
}

@keyframes w3_light {
  from{
      transform: rotate(5deg)
  } to{
      transform: rotate(-5deg);
  }
}

@keyframes typing{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
}

/* ---------운동 끝---------------*/
/*-----------피크닉-------------*/
.world4 .w4-cutter{
    position: relative;
    overflow: hidden;
}

.w4 {
    display: flex;
    overflow: hidden;
}

#shadow_grass{
    position: absolute;
    margin: -50% 0 0 10%;
    animation-name: shadow;
    animation-duration: 1.5s;
  	animation-timing-function: linear;
	  animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

#grass_white{
  position: absolute;
  margin: -50% 0 0 10%;
  animation-name: shadow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-fill-mode: forwards;
}

#basket{
    position: absolute;
    margin: -50% 0 0 1%;
}

#bread{
    position: absolute;
    margin: -40% 0 0 33%;
}

#shadow_bread{
    position: absolute;
    margin: -40.93% 0 0 33%;
    /* animation-name: shadow;
    animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards; */
}

#fruits{
    position: absolute;
    margin: -30% 0 0 60.3%;
}

#mat{
    position: absolute;
    margin: -41% 0 0 0%;
}

/* #sentence4{
  position: absolute;
  margin: -50% 0 0 25%;
} */

#shadow_right{
    position: absolute;
    margin: -30.5% 0 0 18.3%;
    /* animation-name: shadow;
    animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards; */
}

#shadow_left{
    position: absolute;
    margin: -41% 0 0 1%;
    animation-name: shadow;
    animation-duration: 1.5s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

#blanket{
    position: absolute;
    margin: -32% 0 0 18.3%;
}

#small-blanket{
    position: absolute;
    margin: -43% 0 0 17%;
    /* animation-name: blanket;
    animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards; */
}

#tomato1{
    position: absolute;
    margin: -13% 0 0 30%;
    /* animation-name: small-tomato1;
    animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards; */
}

#tomato2{
    position: absolute;
    margin: -8% 0 0 38%;
    /* animation-name: small-tomato1;
    animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards; */
}

#tomato3{
    position: absolute;
    margin: -8% 0 0 52%;
    /* animation-name: small-tomato2;
    animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards; */
}

#tomato4{
    position: absolute;
    margin: -13% 0 0 36%;
    /* animation-name: small-tomato2;
    animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards; */
}

/*글씨 나타나는 효과*/
.world4 .w4-cutter p{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.5rem;
  white-space: nowrap;
  color: transparent;
  margin: 0;
  position: absolute;
  /*글자 위치 대충 여기서 조절하면 됨!*/
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.world4 .w4-cutter p::before{
  content: "오늘 저녁엔 내가 좋아하는 걸 하나 먹는건 어떨까요?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  animation: typing 5s steps(100);  /*steps 괄호 안 숫자는 멘트 길이.*/
}

/* 담요그림자 애니메이션 */
@-webkit-keyframes shadow {
    0% {
        top:446px;
        left: 0px;
        
      }
      100% {
        top:447px;
        left: 1px;
      }
    }
@-moz-keyframes shadow {
    0% {
        top:446px;
        left: 0px;
        
      }
      100% {
        top:447px;
        left: 1px;
      }
    }
@-ms-keyframes shadow {
    0% {
        top:446px;
        left: 0px;
        
      }
      100% {
        top:447px;
        left: 1px;
      }
    }
@-o-keyframes shadow {
    0% {
        top:446px;
        left: 0px;
        
      }
      100% {
        top:447px;
        left: 1px;
      }
    }
@keyframes shadow {
    0% {
        top:430px;
        left: 0px;
        
      }
      100% {
        top:445px;
        left: 1px;
      }
    }
/* 담요 애니메이션 */
@-webkit-keyframes blanket {
    0% {
        top:445px;
        left: 20px;
        
      }
      100% {
        top:446px;
        left: 21px;
      }
    }
@-moz-keyframes blanket {
    0% {
        top:445px;
        left: 20px;
        
      }
      100% {
        top:446px;
        left: 21px;
      }
    }
@-ms-keyframes blanket {
    0% {
        top:445px;
        left: 20px;
        
      }
      100% {
        top:446px;
        left: 21px;
      }
    }
@-o-keyframes blanket {
    0% {
        top:445px;
        left: 20px;
        
      }
      100% {
        top:446px;
        left: 21px;
      }
    }
@keyframes blanket {
    0% {
        top:445px;
        left: 20px;
        
      }
      100% {
        top:449px;
        left: 24px;
      }
    }
/* 방울토마토 애니메이션 */
@-webkit-keyframes small-tomato1 {
  0% {
    left:50px;
  }
  100% {
    left:52px;
  }
}
@-moz-keyframes small-tomato1 {
  0% {
    left:50px;
  }
  100% {
    left:52px;
  }
}
@-ms-keyframes small-tomato1 {
  0% {
    left:50px;
  }
  100% {
    left:52px;
  }
}
@-o-keyframes small-tomato1 {
  0% {
    left:50px;
  }
  100% {
    left:52px;
  }
}
@keyframes small-tomato1 {
  0% {
    left:50px;
  }
  100% {
    left:56px;
  }
}
@-webkit-keyframes small-tomato2 {
    0% {
        top:448px;
        left: 50px;
      }
      100% {
        top:450px;
        left: 50px;
      }
    }
  @-moz-keyframes small-tomato2 {
    0% {
        top:448px;
        left: 50px;
      }
      100% {
        top:450px;
        left: 50px;
      }
    }
  @-ms-keyframes small-tomato2 {
    0% {
        top:448px;
        left: 50px;
      }
      100% {
        top:450px;
        left: 50px;
      }
    }
  @-o-keyframes small-tomato2 {
    0% {
        top:448px;
        left: 50px;
      }
      100% {
        top:450px;
        left: 50px;
      }
    }
  @keyframes small-tomato2 {
    0% {
        top:448px;
        left: 50px;
      }
      100% {
        top:454px;
        left: 50px;
      }
    }
/*-----------피크닉 끝----------*/

/* ----------room(방)----------- */
.room1{
    position: absolute;
    margin: 52.2% 0 0 22.4%;
}

.room2{
    position: absolute;
    margin: 112.3% 0 0 66.5%;
}

.room3{
    position: absolute;
    margin: 170.25% 0 0 16.5%;
}

.room4{
    position: absolute;
    margin: 228.5% 0 0 66.5%;
}

.room5{
    position: absolute;
    margin: 291% 0 0 41.25%;
}

/* ------------door(문)------------ */
.door-opened .door-body{
    transform: perspective(100vw) rotateY(80deg);
}

.door1{
    position: absolute;
    margin: 52.2% 0 0 22.4%;

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

.door2{
    position: absolute;
    margin: 114% 0 0 68%;

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

.door3{
    position: absolute;
    margin: 172% 0 0 17.95%;

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

.door4{
    position: absolute;
    margin: 230% 0 0 68%;

    transition: 2s;
    transform-origin: 0%;
    transition-timing-function: ease-in-out;
    /* z-index: 5; */
}

/* 팝업 */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index:100000000;
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 68%; /* Could be more or less, depending on screen size */ 
    height: 85%;                       
}

#world1{
    position: absolute;
    width: 800px;
}
#world2{
    position: absolute;
    width: 800px;
}
#world3{
    position: absolute;
    width: 800px;
}
#world4{
    position: absolute;
    width: 800px;
}

/* 엔딩크레딧 */
.credit{
  position: relative;
  min-height: 500px;
}

.credit .img{
  position: absolute;
}

#credit_bg{
  position: relative;
  margin: -22% 0 0 0%;
}

#cd{
  position: absolute;
  margin: 14.4% 0 0 138.2%;
}