*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    background-color: #2a2d51;
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
}


/* 1.5페이지 */

@-webkit-keyframes blink{
    0% {opacity:0;}
    15%{opacity: 1;}
    30%{opacity: 0;}
    45%{opacity: 1;}
    60%{opacity: 0;}
    75%{opacity: 1;}
    90%{opacity: 0;}
    100% {opacity:0;} 
} 

@-moz-keyframes blink{
    0% {opacity:0;}
    15%{opacity: 1;}
    30%{opacity: 0;}
    45%{opacity: 1;}
    60%{opacity: 0;}
    75%{opacity: 1;}
    90%{opacity: 0;}
    100% {opacity:0;} 
} 

@keyframes blink{
    0% {opacity:0;}
    15%{opacity: 1;}
    30%{opacity: 0;}
    45%{opacity: 1;}
    60%{opacity: 0;}
    75%{opacity: 1;}
    90%{opacity: 0;}
    100% {opacity:0;} 
}


/* 이미지 배치 */
.wrapper{
    position: relative;
    min-height: 400px;
}

/*스크롤바 없애기*/
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}
/*스크롤바 없애기 끝*/

/*이미지 배치--> 따로 있는 애들*/
@media (max-width: 1280px){     /*모바일 일단 포함, pc(13인치)*/
    .scroll-icon{
        position: fixed;
        margin: -18.5% 0 0 7.5%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }
    
    .wrapper{
        display: flex;
        position: relative;
        max-width: 350%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 7.5%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 350%;
        margin: 13% 0 0 0%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 19.2% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 6.8% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 150%;
        margin: 12.9% 0 0 120%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 35%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -5% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 36% 0 0 -2%;
    }

    /* 채팅창 */
#chat_bottom{
    position: fixed;
    margin: 41% 0 0 70%;
    opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 23s;
}

#chat_1{
	position: fixed;
    margin: 1% 0 0 70%;
	opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 8s;
}

#chat_2{
	position: fixed;
    margin: 7% 0 0 70%;
	opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 10s;
}

#chat_3{
	position: fixed;
    margin: -17.9% 0 0 70%;
	opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 12s;
}

#chat_4{
	position: fixed;
    margin: -11.9% 0 0 70%;
	opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 14s;
}

#chat_5{
	position: fixed;
    margin: -5.9% 0 0 70%;
	opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 16s;
}

#chat_6{
	position: fixed;
    margin: 0% 0 0 70%;
	opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 18s;
}

#my_chat{
	position: fixed;
    margin: 6% 0 0 88.5%;
	opacity: 0;
    animation: chat 0.2s forwards;
    animation-delay: 22s;
}

.typing{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1rem;
    white-space: nowrap;
    color: transparent;
    position: absolute;
    /*글자 위치 대충 여기서 조절하면 됨!*/
    margin: 0;
    top: 92.5%;
    left: 76.5%;
    transform: translate(-50%, -50%);
}

.typing::before{
    content: "또 나만.. 아직이네.. ";
    position: absolute;
    width: 100%;
    height: 100%;
    color: #191a65;
    overflow: hidden;
    top: 0;
    left: 0;
    animation: typing 4s steps(16);  /*steps 괄호 안 숫자는 멘트 길이.*/
    animation-delay: 23s;
}
 /*툴팁*/
 .fas{
    color: white;
    position: absolute;
    margin: 5% 0 0 490%;
    z-index: 5;
}
.fas:hover{
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}
.exit{
    display: inline-block;
    position: fixed;
    margin: 5% 0 0 42%;
}
.exit .tooltip{
    position: fixed;
    width: 100px;
    padding: 0;
    visibility: hidden;
    /* background-color: white; */
    color: white;
    text-align: center;
    z-index: 5;
}
.exit .tooltip h1{
    position: fixed;
    font-size: 16px;
    margin: -2% 0 0 -3%;
    z-index: 5;
}
.exit:hover .tooltip{visibility: visible;}
}

@media (min-width: 1281px) and (max-width: 1440px){     /*pc 2*/
    .scroll-icon{
        position: fixed;
        margin: -11.5% 0 0 -43%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }

    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
        margin: 15% 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 23.2% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 10.9% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 200%;
        margin: 12% 0 0 130%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -1% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 38% 0 0 -2%;
    }
    /* 채팅창 */
    #chat_bottom{
        position: fixed;
        margin: 42% 0 0 70%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 23s;
    }
    
    #chat_1{
        position: fixed;
        margin: 1% 0 0 69.9%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 8s;
    }
    
    #chat_2{
        position: fixed;
        margin: 7% 0 0 70%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 10s;
    }
    
    #chat_3{
        position: fixed;
        margin: -13% 0 0 20.2%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 12s;
    }
    
    #chat_4{
        position: fixed;
        margin: -7% 0 0 20.2%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 14s;
    }
    
    #chat_5{
        position: fixed;
        margin: -1% 0 0 20.5%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 16s;
    }
    
    #chat_6{
        position: fixed;
        margin: 5% 0 0 20.5%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 18s;
    }
    
    #my_chat{
        position: fixed;
        margin: 11.5% 0 0 38%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 20s;
    }
    
    .typing{
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 1rem;
        white-space: nowrap;
        color: transparent;
        position: absolute;
        /*글자 위치 대충 여기서 조절하면 됨!*/
        margin: 0;
        top: 92.5%;
        left: 76.5%;
        transform: translate(-50%, -50%);
    }

    .typing::before{
        content: "또 나만.. 아직이네.. ";
        position: absolute;
        width: 100%;
        height: 100%;
        color: #191a65;
        overflow: hidden;
        top: 0;
        left: 0;
        animation: typing 4s steps(16);  /*steps 괄호 안 숫자는 멘트 길이.*/
        animation-delay: 23s;
    }
    /*툴팁*/
    .fas{
        color: white;
        position: fixed;
        margin: -30% 0 0 0%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -32% 0 0 -3.5%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}
@media (min-width: 1440px) and (max-width: 1900px){     /*pc 3(15인치)*/
    .scroll-icon{
        position: fixed;
        margin: -11.5% 0 0 -43%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }

    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
        margin: 15% 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 23.2% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 10.9% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 200%;
        margin: 12% 0 0 130%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -1% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 38% 0 0 -2%;
    }
    /* 채팅창 */
    #chat_bottom{
        position: fixed;
        margin: 42% 0 0 70%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 23s;
    }
    
    #chat_1{
        position: fixed;
        margin: 1% 0 0 69.9%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 8s;
    }
    
    #chat_2{
        position: fixed;
        margin: 7% 0 0 70%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 10s;
    }
    
    #chat_3{
        position: fixed;
        margin: -13% 0 0 20.2%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 12s;
    }
    
    #chat_4{
        position: fixed;
        margin: -7% 0 0 20.2%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 14s;
    }
    
    #chat_5{
        position: fixed;
        margin: -1% 0 0 20.5%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 16s;
    }
    
    #chat_6{
        position: fixed;
        margin: 5% 0 0 20.5%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 18s;
    }
    
    #my_chat{
        position: fixed;
        margin: 11.5% 0 0 38%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 20s;
    }
    
    .typing{
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 1rem;
        white-space: nowrap;
        color: transparent;
        position: absolute;
        /*글자 위치 대충 여기서 조절하면 됨!*/
        margin: 0;
        top: 92.5%;
        left: 76.5%;
        transform: translate(-50%, -50%);
    }

    .typing::before{
        content: "또 나만.. 아직이네.. ";
        position: absolute;
        width: 100%;
        height: 100%;
        color: #191a65;
        overflow: hidden;
        top: 0;
        left: 0;
        animation: typing 4s steps(16);  /*steps 괄호 안 숫자는 멘트 길이.*/
        animation-delay: 23s;
    }
    /*툴팁*/
    .fas{
        color: white;
        position: fixed;
        margin: -30% 0 0 0%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -32% 0 0 -3.5%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}
@media (min-width: 1900px){     /*pc 4(완전 와이드스크린)*/
    .scroll-icon{
        position: fixed;
        margin: -11.5% 0 0 -43%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }

    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
        margin: 15% 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 23.2% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 10.9% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 200%;
        margin: 12% 0 0 130%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -1% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 38% 0 0 -2%;
    }
    /* 채팅창 */
    #chat_bottom{
        position: fixed;
        margin: 42% 0 0 70%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 23s;
    }
    
    #chat_1{
        position: fixed;
        margin: 1% 0 0 69.9%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 8s;
    }
    
    #chat_2{
        position: fixed;
        margin: 7% 0 0 70%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 10s;
    }
    
    #chat_3{
        position: fixed;
        margin: -13% 0 0 20.2%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 12s;
    }
    
    #chat_4{
        position: fixed;
        margin: -7% 0 0 20.2%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 14s;
    }
    
    #chat_5{
        position: fixed;
        margin: -1% 0 0 20.5%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 16s;
    }
    
    #chat_6{
        position: fixed;
        margin: 5% 0 0 20.5%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 18s;
    }
    
    #my_chat{
        position: fixed;
        margin: 11.5% 0 0 38%;
        opacity: 0;
        animation: chat 0.2s forwards;
        animation-delay: 20s;
    }
    
    .typing{
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 1rem;
        white-space: nowrap;
        color: transparent;
        position: absolute;
        /*글자 위치 대충 여기서 조절하면 됨!*/
        margin: 0;
        top: 92.5%;
        left: 76.5%;
        transform: translate(-50%, -50%);
    }

    .typing::before{
        content: "또 나만.. 아직이네.. ";
        position: absolute;
        width: 100%;
        height: 100%;
        color: #191a65;
        overflow: hidden;
        top: 0;
        left: 0;
        animation: typing 4s steps(16);  /*steps 괄호 안 숫자는 멘트 길이.*/
        animation-delay: 23s;
    }
    /*툴팁*/
    .fas{
        color: white;
        position: fixed;
        margin: -30% 0 0 0%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -32% 0 0 -3.5%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}

/*손잡이 따로따로 배치*/
.wrapper .front_wrapper .handle1{
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
      -o-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
         animation: subHandle 1.2s ease-in-out 0s infinite alternate;
}

.wrapper .front_wrapper .handle2{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
      -o-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
         animation: subHandle2 .9s ease-in-out 0s infinite alternate;
}
.wrapper .front_wrapper .handle3{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle .9s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle .9s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle .9s ease-in-out 0s infinite alternate;
      -o-animation: subHandle .9s ease-in-out 0s infinite alternate;
         animation: subHandle .9s ease-in-out 0s infinite alternate;
}
.wrapper .front_wrapper .handle4{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
      -o-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
         animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
}


@keyframes chat{
    from{
        opacity: 0;
        transform: translateY(-5px) scale(0.5);
      }
      to{
        opacity: 0.9;
        transform: translateY(0) scale(1);
      }
    } 

.chat_wrapper p.typing-txt{
    margin: 3% 0 0 70%;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.5rem;
    display: none;
}

.typing{
  position: fixed; 
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.6s; 
  animation-iteration-count: infinite; 
}

/* .wrapper .chat_wrapper p::before{
    content: "또 나만.. 아직이네..";
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 0.5px solid black;
    animation: typing 5s steps(20);  
    animation-delay: 18s;
} 
*/
/* @keyframes cursor{   이게 커서임!
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
  } */

@keyframes typing{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


/* 페이드 아웃 */
#full-fade-out{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}


/*손잡이 애니메이션*/
@-webkit-keyframes subHandle {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@-moz-keyframes subHandle {
    from{
        -moz-transform: rotate(5deg);
    } to{
        -moz-transform: rotate(-5deg);
    }
}
@-ms-keyframes subHandle {
    from{
        -ms-transform: rotate(5deg);
    } to{
        -ms-transform: rotate(-5deg);
    }
}
@-o-keyframes subHandle {
    from{
        -o-transform: rotate(5deg);
    } to{
        -o-transform: rotate(-5deg);
    }
}
@keyframes subHandle {
    from{
        transform: rotate(5deg);
    } to{
        transform: rotate(-5deg);
    }
}
/*손잡이 애니메이션2*/
@-webkit-keyframes subHandle2 {
    from{
        -webkit-transform: rotate(7deg);
    } to{
        -webkit-transform: rotate(-7deg);
    }
}
@-moz-keyframes subHandle2 {
    from{
        -moz-transform: rotate(7deg);
    } to{
        -moz-transform: rotate(-7deg);
    }
}
@-ms-keyframes subHandle2 {
    from{
        -ms-transform: rotate(7deg);
    } to{
        -ms-transform: rotate(-7deg);
    }
}
@-o-keyframes subHandle2 {
    from{
        -o-transform: rotate(7deg);
    } to{
        -o-transform: rotate(-7deg);
    }
}
@keyframes subHandle2 {
    from{
        transform: rotate(7deg);
    } to{
        transform: rotate(-7deg);
    }
}
