*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'Baloo Chettan 2', cursive;
}

a{
    text-decoration: none;
    color: #fff;
}

input[id="navbar_menu"]{
    display: none;
}

input[id="navbar_menu"] + label{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

input[id="navbar_menu"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: teal;
    transition: all .35s;
}

input[id="navbar_menu"] + label span:nth-child(1){
    top:0;
}

input[id="navbar_menu"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="navbar_menu"] + label span:nth-child(3){
    bottom:0;
}

/*check 되었을 때*/
input[id="navbar_menu"]:checked + label{
    z-index: 2;
}

input[id="navbar_menu"]:checked + label span{
    background: #fff;
}

input[id="navbar_menu"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="navbar_menu"]:checked + label span:nth-child(2){
    opacity: 0; /* 투명도 */
}

input[id="navbar_menu"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    list-style: none;
    width:300px; 
    height: 100%; 
    background:teal; 
    position: fixed; /*스크롤해도 고정됨, 상단에*/
    top: 0; 
    left: -300px; 
    z-index: 1; /*position의 우선순위*/
    transition: all .35s;} /*변화값에 모션을 주는 설정*/

input[id="navbar_menu"]:checked + label + div {
    left:0;
}

.sidebar a{
    padding: 50px 0px 0px 25px;
    font-size: 16px;
    color:white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color:aquamarine;
}

/* 1.5페이지 */

body{
    background-color: #2B2446;
}

/* 이미지 배치 */
.wrapper{
    position: relative;
    min-height: 400px;
}

/*스크롤바 없애기*/
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}
/*스크롤바 없애기 끝*/

/*이미지 배치--> 따로 있는 애들*/
@media (max-width: 1280px){     /*모바일 일단 포함, pc(13인치)*/
    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
        margin: 15% 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 23.5% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 10.9% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 200%;
        margin: 12% 0 0 130%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -1% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 38% 0 0 -2%;
    }
}
@media (min-width: 1281px) and (max-width: 1440px){     /*pc 2*/
    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
        margin: 15% 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 23.5% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 10.9% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 200%;
        margin: 12% 0 0 130%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -1% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 38% 0 0 -2%;
    }
}
@media (min-width: 1440px) and (max-width: 1900px){     /*pc 3(15인치)*/
    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
        margin: 15% 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 23.5% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 10.9% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 200%;
        margin: 12% 0 0 130%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -1% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 38% 0 0 -2%;
    }
}
@media (min-width: 1900px){     /*pc 4(완전 와이드스크린)*/
    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 12% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
        margin: 15% 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 23.5% 0 0 5%;
    }

    .wrapper .small_wrapper .bg-2{
        width: 340%;
        margin: 10.9% 0 0 20%;
    }

    /* .wrapper .small_wrapper .bg-shadow{
        width: 350%;
        margin: -11% 0 0 15.3%;
    } */

    .wrapper .small_wrapper .building{
        width: 200%;
        margin: 12% 0 0 130%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -1% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 38% 0 0 -2%;
    }
}

/*손잡이 따로따로 배치*/
.wrapper .front_wrapper .handle1{
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
      -o-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
         animation: subHandle 1.2s ease-in-out 0s infinite alternate;
}

.wrapper .front_wrapper .handle2{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
      -o-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
         animation: subHandle2 .9s ease-in-out 0s infinite alternate;
}
.wrapper .front_wrapper .handle3{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle .9s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle .9s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle .9s ease-in-out 0s infinite alternate;
      -o-animation: subHandle .9s ease-in-out 0s infinite alternate;
         animation: subHandle .9s ease-in-out 0s infinite alternate;
}
.wrapper .front_wrapper .handle4{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
      -o-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
         animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
}


/* 채팅창 */
#chat_bottom{
    position: fixed;
    margin: 42% 0 0 70%;
    opacity: 90%;
}

#chat_1{
	position: fixed;
    margin: 2% 0 0 70%;
	opacity: 0;
    /* display: none; */
    animation: chat1 0.2s forwards;
    animation-delay: 4s;
}

@keyframes chat1{
    from{
      opacity: 0;
      transform: translateY(-5px) scale(0.5);
    }
    to{
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

#chat_2{
	position: fixed;
    margin: 8% 0 0 70%;
	opacity: 0;
    /* display: none; */
    animation: chat2 0.2s forwards;
    animation-delay: 6s;
}

@keyframes chat2{
  from{
      opacity: 0;
      transform: translateY(-5px) scale(0.5);
    }
    to{
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }  

#chat_3{
	position: fixed;
    margin: -16.9% 0 0 70%;
	opacity: 0;
    /* display: none; */
    animation: chat3 0.2s forwards;
    animation-delay: 8s;
}

@keyframes chat3{
    from{
        opacity: 0;
        transform: translateY(-5px) scale(0.5);
      }
      to{
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    } 

#chat_4{
	position: fixed;
    margin: -10.9% 0 0 70%;
	opacity: 0;
    /* display: none; */
    animation: chat4 0.2s forwards;
    animation-delay: 10s;
}

@keyframes chat4{
    from{
        opacity: 0;
        transform: translateY(-5px) scale(0.5);
      }
      to{
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    } 

#chat_5{
	position: fixed;
    margin: -4.9% 0 0 70%;
	opacity: 0;
    /* display: none; */
    animation: chat5 0.2s forwards;
    animation-delay: 12s;
}

@keyframes chat5{
    from{
        opacity: 0;
        transform: translateY(-5px) scale(0.5);
      }
      to{
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    } 

#chat_6{
	position: fixed;
    margin: 1% 0 0 70%;
	opacity: 0;
    /* display: none; */
    animation: chat6 0.2s forwards;
    animation-delay: 14s;
}

@keyframes chat6{
    from{
        opacity: 0;
        transform: translateY(-5px) scale(0.5);
      }
      to{
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    } 

#my_chat{
	position: fixed;
    margin: 7% 0 0 88.5%;
	opacity: 0;
    /* display: none; */
    animation: chat7 0.2s forwards;
    animation-delay: 16s;
}

@keyframes chat7{
    from{
        opacity: 0;
        transform: translateY(-5px) scale(0.5);
      }
      to{
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    } 

.wrapper .chat_wrapper p.typing-txt{
    margin: 3% 0 0 70%;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.5rem;
    display: none;
}

.typing{
  /*position: absolute;*/ 
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.6s; 
  animation-iteration-count: infinite; 
}

/* .wrapper .chat_wrapper p::before{
    content: "또 나만.. 아직이네..";
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 0.5px solid black;
    animation: typing 5s steps(20);  
    animation-delay: 18s;
} 
*/
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
  }

@keyframes typing{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


/* 페이드 아웃 */
#full-fade-out{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}


/*손잡이 애니메이션*/
@-webkit-keyframes subHandle {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@-moz-keyframes subHandle {
    from{
        -moz-transform: rotate(5deg);
    } to{
        -moz-transform: rotate(-5deg);
    }
}
@-ms-keyframes subHandle {
    from{
        -ms-transform: rotate(5deg);
    } to{
        -ms-transform: rotate(-5deg);
    }
}
@-o-keyframes subHandle {
    from{
        -o-transform: rotate(5deg);
    } to{
        -o-transform: rotate(-5deg);
    }
}
@keyframes subHandle {
    from{
        transform: rotate(5deg);
    } to{
        transform: rotate(-5deg);
    }
}
/*손잡이 애니메이션2*/
@-webkit-keyframes subHandle2 {
    from{
        -webkit-transform: rotate(7deg);
    } to{
        -webkit-transform: rotate(-7deg);
    }
}
@-moz-keyframes subHandle2 {
    from{
        -moz-transform: rotate(7deg);
    } to{
        -moz-transform: rotate(-7deg);
    }
}
@-ms-keyframes subHandle2 {
    from{
        -ms-transform: rotate(7deg);
    } to{
        -ms-transform: rotate(-7deg);
    }
}
@-o-keyframes subHandle2 {
    from{
        -o-transform: rotate(7deg);
    } to{
        -o-transform: rotate(-7deg);
    }
}
@keyframes subHandle2 {
    from{
        transform: rotate(7deg);
    } to{
        transform: rotate(-7deg);
    }
}

i{
    position: absolute;

}