*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'Baloo Chettan 2', cursive;
}

a{
    text-decoration: none;
    color: #fff;
}

input[id="navbar_menu"]{
    display: none;
}

input[id="navbar_menu"] + label{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

input[id="navbar_menu"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: teal;
    transition: all .35s;
}

input[id="navbar_menu"] + label span:nth-child(1){
    top:0;
}

input[id="navbar_menu"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="navbar_menu"] + label span:nth-child(3){
    bottom:0;
}

/*check 되었을 때*/
input[id="navbar_menu"]:checked + label{
    z-index: 2;
}

input[id="navbar_menu"]:checked + label span{
    background: #fff;
}

input[id="navbar_menu"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="navbar_menu"]:checked + label span:nth-child(2){
    opacity: 0; /* 투명도 */
}

input[id="navbar_menu"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    list-style: none;
    width:300px; 
    height: 100%; 
    background:teal; 
    position: fixed; /*스크롤해도 고정됨, 상단에*/
    top: 0; 
    left: -300px; 
    z-index: 1; /*position의 우선순위*/
    transition: all .35s;} /*변화값에 모션을 주는 설정*/

input[id="navbar_menu"]:checked + label + div {
    left:0;
}

.sidebar a{
    padding: 50px 0px 0px 25px;
    font-size: 16px;
    color:white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color:aquamarine;
}

/* 1.5페이지 */

body{
    background-color: #2B2446;
}

/* 이미지 배치 */
.wrapper{
    position: relative;
    min-height: 400px;
}

/*스크롤바 없애기*/
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}
/*스크롤바 없애기 끝*/

/*이미지 배치--> 따로 있는 애들*/
@media (min-width:1200px) and (max-width:1500px) {
    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bg{
        width: 400%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 8% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }
    
    .wrapper .small_wrapper .bg-1{
        width: 400%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 20.5% 0 0 0;
    }

    .wrapper .small_wrapper .bg-2{
        width: 400%;
        margin: 0 0 0 -5%;
    }

    .wrapper .small_wrapper .building{
        width: 400%;
    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .small_wrapper .fade-out{
        width: 400%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -7% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 37% 0 0 -2%;
    }
}
@media (min-width: 1500px) {
    .wrapper{
        display: flex;
        position: relative;
        max-width: 250%;
    }

    .img{
        position: absolute;
        height: auto;
    }

    .wrapper .bgSky{
        width: 250%;
    }

    .wrapper .small_wrapper .bg-3{
        width: 350%;
    }

    .wrapper .small_wrapper .bg-shooting{
        width: 60%;
        margin: 8% 0 0 25%;
    }

    .wrapper .small_wrapper .bg-moon{
        width: 9%;
        margin: 11% 0 0 40%;
    }

    .wrapper .small_wrapper .bg-2{
        margin: 0 0 0 -5%;
    }

    .wrapper .small_wrapper .train{
        width: 60%;
        margin: 22.5% 0 0 0;
    }

    .wrapper .small_wrapper .building{

    }
    
    .wrapper .small_wrapper .bg-moonlight{
        width: 40%;
        margin: 30% 0 0 20%;
    }

    .wrapper .front_wrapper .subway{
        position: fixed;
        width: 100%;
        margin: -7% 0 0 0;
    }

    .wrapper .front_wrapper .handle1{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 19%;
    }
    .wrapper .front_wrapper .handle2{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 38%;
    }
    .wrapper .front_wrapper .handle3{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 57%;
    }
    .wrapper .front_wrapper .handle4{
        position: fixed;
        width: 3%;
        margin: -1% 0 0 76%;
    }

    .wrapper .front_wrapper .seat{
        position: fixed;
        width: 105%;
        margin: 37% 0 0 -2%;
    }
}

/*손잡이 따로따로 배치*/
.wrapper .front_wrapper .handle1{
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
      -o-animation: subHandle 1.2s ease-in-out 0s infinite alternate;
         animation: subHandle 1.2s ease-in-out 0s infinite alternate;
}

.wrapper .front_wrapper .handle2{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
      -o-animation: subHandle2 .9s ease-in-out 0s infinite alternate;
         animation: subHandle2 .9s ease-in-out 0s infinite alternate;
}
.wrapper .front_wrapper .handle3{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle .9s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle .9s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle .9s ease-in-out 0s infinite alternate;
      -o-animation: subHandle .9s ease-in-out 0s infinite alternate;
         animation: subHandle .9s ease-in-out 0s infinite alternate;
}
.wrapper .front_wrapper .handle4{
    /*손잡이 애니메이션 적용*/
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
         transform-origin: 0% 0%;

    -webkit-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
    -moz-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
     -ms-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
      -o-animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
         animation: subHandle2 1.2s ease-in-out 0s infinite alternate;
}


/* 채팅창 */
#chat_bottom{
    position: absolute;
    margin: 30% 0 0 70%;
    opacity: 90%;
}

#chat_1{
    position: absolute;
    margin: -10.8% 0 0 70%;
    opacity: 90%;
}

#chat_2{
    position: absolute;
    margin: -4.6% 0 0 70%;
    opacity: 90%;
}

#chat_3{
    position: absolute;
    margin: 1.7% 0 0 70%;
    opacity: 90%;
}

#chat_4{
    position: absolute;
    margin: 7.9% 0 0 70%;
    opacity: 90%;
}

#chat_5{
    position: absolute;
    margin: 14% 0 0 70%;
    opacity: 90%;
}

#chat_6{
    position: absolute;
    margin: 20% 0 0 70%;
    opacity: 90%;
}

#my_chat{
    position: absolute;
    margin: 26% 0 0 88.5%;
    opacity: 90%;
}

#chat_ing{
    position: absolute;
    margin: 31% 0 0 72%;
}

채팅 스크롤
.chat{
    display: none;
    position: fixed;
}
#show-scene-0 #chat_1 .chat,
#show-scene-0 #chat_2 .chat,
#show-scene-0 #chat_3 .chat,
#show-scene-0 #chat_4 .chat,
#show-scene-0 #chat_5 .chat,
#show-scene-0 #chat_6 .chat,
#show-scene-0 #my_chat .chat,
#show-scene-0 #chat_ing .chat {
    display: block;
}


/* 페이드 아웃 */
#full-fade-out{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}


/*손잡이 애니메이션*/
@-webkit-keyframes subHandle {
    from{
        -webkit-transform: rotate(5deg);
    } to{
        -webkit-transform: rotate(-5deg);
    }
}
@-moz-keyframes subHandle {
    from{
        -moz-transform: rotate(5deg);
    } to{
        -moz-transform: rotate(-5deg);
    }
}
@-ms-keyframes subHandle {
    from{
        -ms-transform: rotate(5deg);
    } to{
        -ms-transform: rotate(-5deg);
    }
}
@-o-keyframes subHandle {
    from{
        -o-transform: rotate(5deg);
    } to{
        -o-transform: rotate(-5deg);
    }
}
@keyframes subHandle {
    from{
        transform: rotate(5deg);
    } to{
        transform: rotate(-5deg);
    }
}
/*손잡이 애니메이션2*/
@-webkit-keyframes subHandle2 {
    from{
        -webkit-transform: rotate(7deg);
    } to{
        -webkit-transform: rotate(-7deg);
    }
}
@-moz-keyframes subHandle2 {
    from{
        -moz-transform: rotate(7deg);
    } to{
        -moz-transform: rotate(-7deg);
    }
}
@-ms-keyframes subHandle2 {
    from{
        -ms-transform: rotate(7deg);
    } to{
        -ms-transform: rotate(-7deg);
    }
}
@-o-keyframes subHandle2 {
    from{
        -o-transform: rotate(7deg);
    } to{
        -o-transform: rotate(-7deg);
    }
}
@keyframes subHandle2 {
    from{
        transform: rotate(7deg);
    } to{
        transform: rotate(-7deg);
    }
}