*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'Baloo Chettan 2', cursive;
}

a{
    text-decoration: none;
    color: #fff;
}

input[id="navbar_menu"]{
    display: none;
}

input[id="navbar_menu"] + label{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

input[id="navbar_menu"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: teal;
    transition: all .35s;
}

input[id="navbar_menu"] + label span:nth-child(1){
    top:0;
}

input[id="navbar_menu"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="navbar_menu"] + label span:nth-child(3){
    bottom:0;
}

/*check 되었을 때*/
input[id="navbar_menu"]:checked + label{
    z-index: 2;
}

input[id="navbar_menu"]:checked + label span{
    background: #fff;
}

input[id="navbar_menu"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="navbar_menu"]:checked + label span:nth-child(2){
    opacity: 0; /* 투명도 */
}

input[id="navbar_menu"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    list-style: none;
    width:300px; 
    height: 100%; 
    background:teal; 
    position: fixed; /*스크롤해도 고정됨, 상단에*/
    top: 0; 
    left: -300px; 
    z-index: 1; /*position의 우선순위*/
    transition: all .35s;} /*변화값에 모션을 주는 설정*/

input[id="navbar_menu"]:checked + label + div {
    left:0;
}

.sidebar a{
    padding: 50px 0px 0px 25px;
    font-size: 16px;
    color:white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color:aquamarine;
}

/* 여기까지가 sidebar */
/* 아래부터가 2페이지 시작! */

/* 스크롤 없애기 */
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* 이미지 배치 */
.wrapper{
    position: relative;
}

.img{
    position: absolute;
    top: 0;
    left: 0;
}

/*화면 페럴랙스 효과 시작*/
/*화면 페럴랙스 효과 끝*/

/*세로 진행 바 시작*/
.progress {
    position: fixed;
    width: 4px;
    height: 140px;
    top: 40%;
    right: 10px;
    background-color: black;
    z-index: 10;
}

.bar{
    position: absolute;
    width: 4px;
    height: 140px;
    top: 0;
    right: 0;
    background-color: chartreuse;
    z-index: 11;
}
/*세로 진행 바 끝*/

/*깜빡이는 효과 시작*/
.blinking{ 
    -webkit-animation:blink 1.0s ease-in-out infinite alternate; 
    -moz-animation:blink 1.0s ease-in-out infinite alternate; 
    animation:blink 1.0s ease-in-out infinite alternate; 
}

@-webkit-keyframes blink{
    0% {opacity:0;} 
    100% {opacity:1;} 
} 

@-moz-keyframes blink{
    0% {opacity:0;} 
    100% {opacity:1;} 
} 

@keyframes blink{
    0% {opacity:0;} 
    100% {opacity:1;} 
}
/*깜빡이는 효과 끝*/

.whatsproblem{
    background-color: black;
    width: 100%;
    height: 400px;
}
