* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;   /*전체색상 */
}

.navbar {   /*내비게이션 바(로고+메뉴)*/
    background-color: rgb(228, 228, 228);
    height: 120px;
    padding: 0 50px;
    position: sticky;   /*상단바 고정*/
    padding-top: 60px;  /*자연스럽게 줄어들기*/
    top: -60px;
    opacity: 0.7;   /*뒤에 비치게 하기*/
    backdrop-filter: blur(30px);
}

.navbar #menu {   /*메뉴*/
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar #menu:after {
    content: "";
    clear: both;
    display: block;
}

.navbar #menu li {
    padding: 0 20px;    /*hover때문에 간격 줌*/
    cursor: pointer;
    float: left;
    line-height: 60px;
}
.navbar #menu li:not(:last-child) {     /*메뉴 간 간격 띄우기*/
    margin-right: 40px;
}

.navbar #menu li:hover {    /*마우스 커서 올리면 gray색*/
    background-color: gray;
}

.navbar #menu li a {    /*메뉴이름 속성*/
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* 여기까지 navbar */
/* 아래가 본격 장바구니! */

.basketdiv {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    float: left;
    font-size: 0.9375em;
    margin-bottom: 20px;
}
    .basketdiv .row.head {
        border-bottom: 2px solid #888;
        box-sizing: border-box;
        background-color: #f4f4f4;
        font-weight: 500;
    }
    .basketdiv .data {
        border-bottom: 1px dashed #888;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        width: 100%;
    }
    .basketdiv .data .empty{
        text-align: center;
        padding: 12px 0;
    }
    .basketdiv .row.head .subdiv {
        background-color: #f4f4f4;
    }
    .basketdiv .row > .subdiv {
        display: block;
        float: left;
    }
    .basketdiv .row > .subdiv:nth-child(1) {
        width: 50%;
    }
    .basketdiv .row > .subdiv:nth-child(2) {
        width: 40%;
    }
    .basketdiv .row > .subdiv:nth-child(3) {
        width: 10%;
    }
    .basketdiv2 .row > .subdiv:nth-child(1) {
        width: 60%;
    }
    .basketdiv2 .row > .subdiv:nth-child(2) {
        width: 40%;
    }
    .basketdiv .row > div > div {
        display: block;
        float: left;
        text-align: center;
        margin: 0;
        padding: 12px 0;
    }
    .basketdiv .row.data > div > div {
        height: 60px;
        line-height: 60px;
    }
        .basketdiv .data .num .updown {
            color: #0075ff;
            font-size: 2em;
            letter-spacing: -5px;
        }
        .basketdiv .check {
            width: 10%;
        }
    .basketdiv .check input[type=checkbox] {
        transform: scale(1.5);
    }
    .basketdiv .img{
        width: 20%;
    }
    .basketdiv .pname{
        width: 70%;
    }
    .basketdiv2 .pname {
        width: 80%;
    }
    .basketdiv .basketprice {
        width: 33%;
    }
    .basketdiv .num {
        width: 33%;
      min-width: 105px;
    }
    .basketdiv .sum {
        width: 34%;
      max-width: 80px;
        color: #0000aa;
    }
    .basketdiv .point {
        width: 50%;
    }
    .basketdiv2 .basketprice {
        width: 25%;
    }

    .basketdiv2 .num {
        width: 25%;
    }

    .basketdiv2 .sum {
        width: 25%;
        color: #0000aa;
    }

    .basketdiv2 .point {
        width: 25%;
    }
    .basketdiv .basketcmd{
        width: 100%;
    }
    .basketdiv .data .pname {
        text-align: left !important;
      line-height: 1.2 !important;
    }
    .basketdiv .data .price, .basketdiv .data .sum, .basketdiv .data .point {
        text-align: right;
    }
    .baseform > tbody > tr > td:first-child {
        width: 100px;
    }

.buttongroup {
    padding: 11px 0;
    margin: 50px 0;
}

.narrowbuttongroup{
    margin: 15px 0;
}

.buttongroup.center {
    text-align: center;
}

.buttongroup input[type=text], .buttongroup input[type=password] {
    height: 30px;
}

.buttongroup button, .buttongroup a {
    margin-right: 5px;
}

.buttongroup button:last-child, .buttongroup a:last-child {
    margin-right: 0;
}

.abutton, .abutton:link, .abutton:visited, .abutton:active, input[type=button] {
    background-color: #383838;
    border: 1px solid #888888;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: -1px;
    padding: 3px 5px;
    margin: 2px 3px;
    width: auto;
    word-break: keep-all;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9375em;
}

.abutton-alt {
    background-color: #d3e2c6;
}

.red {
    color:#b00;
}
.blue {
  color: #0075ff;
}
.basketrowcmd, .sumcount, .summoney{
  text-align: right;
  margin-bottom: 10px;
}
.sumcount, .summoney{
  font-size: 1.25em;
    font-weight: bold;
}
.buttongroup{
  text-align: center;
}
.buttongroup a{
  text-decoration: none;
}
.cmd a, .cmd span {
    padding: 12px 30px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1.2em;
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.cmd.small a, .cmd.small span {
    padding: 6px 20px;
    font-size: 0.8125em;
}

.orderform .p_num {
    text-align: right;
    width: 40px;
    font-size: 1em;
}
