*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}

/*스크롤바 없애기*/
body{
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    15%{opacity: 1;}
    30%{opacity: 0;}
    45%{opacity: 1;}
    60%{opacity: 0;}
    75%{opacity: 1;}
    90%{opacity: 0;}
    100% {opacity:1;} 
} 

@-moz-keyframes blink{
    0% {opacity:0;}
    15%{opacity: 1;}
    30%{opacity: 0;}
    45%{opacity: 1;}
    60%{opacity: 0;}
    75%{opacity: 1;}
    90%{opacity: 0;}
    100% {opacity:1;} 
} 

@keyframes blink{
    0% {opacity:0;}
    15%{opacity: 1;}
    30%{opacity: 0;}
    45%{opacity: 1;}
    60%{opacity: 0;}
    75%{opacity: 1;}
    90%{opacity: 0;}
    100% {opacity:1;} 
}
/*스크롤바 없애기 끝*/

/* #icon_sound {
	position: absolute;
	margin: 3% 0 0 3%;
}
#icon_sound:hover{
	transform: scale(1.2);
} */

/*그림 배치*/
@media (max-width: 1280px){      /* pc */
    .scroll-icon{
        position: absolute;
        height: auto;
        margin: 17% 0 0 7.5%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }

    .click-icon{
        position: absolute;
        height: auto;
        margin: 23% 0 0 295.3%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out infinite; 
        -moz-animation:blink 7s ease-in-out infinite; 
        animation:blink 7s ease-in-out infinite;
    }

    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }
    
    .img{
        position: absolute;
        height: auto;
    }
    
    .wrapper .bgSky{
        width: 483.5%;
    }

    .wrapper .main_wrapper .bgStar1{
        width: 440%;
    }

    .wrapper .main_wrapper .bgStar2{
        width: 550%;
    }

    .wrapper .main_wrapper .bgStar3{
        width: 450%;
    }

    .wrapper .main_wrapper .bgMount1{
        width: 200%;
        margin: 24.2% 0 0 -1.5%;
    }

    .wrapper .main_wrapper .bgMount2{
        width: 280%;
        margin: 28% 0 0 227%;
    }

    .wrapper .main_wrapper .bgMount3{
        width: 200%;
        margin: 21% 0 0 44%;
    }

    .wrapper .main_wrapper .bgMount4{
        width: 300%;
        margin: 26% 0 0 220%;
    }

    .wrapper .main_wrapper .bgGround{
        position: fixed;
        width: 400%;
        height: 20%;
        margin: 38% 0 0 0;
    }

    .wrapper .main_wrapper .bgLamp{
        width: 432%;
        margin: 11% 0 0 49%;
    }

    .wrapper .main_wrapper .bgTree{
        width: 430%;
        margin: 16% 0 0 45%;
    }

    .wrapper .booth_wrapper .banner{
        width: 45%;
        margin: 22% 0 0 112%;
    }

    .wrapper .booth_wrapper .busking{
        width: 41%;
        margin: 20.4% 0 0 170%;
    }

    .wrapper .booth_wrapper .icecream{
        width: 34%;
        margin: 12% 0 0 224%;
    }

    .wrapper .booth_wrapper .study{
        width: 42%;
        margin: 14% 0 0 271.5%;
    }

    .wrapper .booth_wrapper .love{
        width: 42%;
        margin: 14% 0 0 326%;
    }

    .wrapper .booth_wrapper .music{
        width: 42%;
        margin: 13% 0 0 381%;
    }

    .wrapper .booth_wrapper .healing{
        width: 42%;
        margin: 14% 0 0 435%;
    }
    /*툴팁*/
    .fas{
        color: white;
        position: absolute;
        margin: 5% 0 0 490%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -2% 0 0 -3%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}

@media (min-width: 1281px) and (max-width: 1440px){
    .scroll-icon{
        position: absolute;
        height: auto;
        margin: 17% 0 0 7.5%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }

    .click-icon{
        position: absolute;
        height: auto;
        margin: 27% 0 0 305%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out infinite; 
        -moz-animation:blink 7s ease-in-out infinite; 
        animation:blink 7s ease-in-out infinite;
    }

    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }
    
    .img{
        position: absolute;
        height: auto;
    }
    
    .wrapper .bgSky{
        width: 483.5%;
    }

    .wrapper .main_wrapper .bgStar1{
        width: 440%;
    }

    .wrapper .main_wrapper .bgStar2{
        width: 550%;
    }

    .wrapper .main_wrapper .bgStar3{
        width: 450%;
    }

    .wrapper .main_wrapper .bgMount1{
        width: 200%;
        margin: 24.2% 0 0 -1.5%;
    }

    .wrapper .main_wrapper .bgMount2{
        width: 280%;
        margin: 26% 0 0 227%;
    }

    .wrapper .main_wrapper .bgMount3{
        width: 200%;
        margin: 20% 0 0 44%;
    }

    .wrapper .main_wrapper .bgMount4{
        width: 300%;
        margin: 24% 0 0 220%;
    }

    .wrapper .main_wrapper .bgGround{
        position: fixed;
        width: 350%;
        margin: 39% 0 0 0;
    }

    .wrapper .main_wrapper .bgLamp{
        width: 460%;
        margin: 10% 0 0 49%;
    }

    .wrapper .main_wrapper .bgTree{
        width: 460%;
        margin: 14% 0 0 35%;
    }

    .wrapper .booth_wrapper .banner{
        width: 50%;
        margin: 21% 0 0 113%;
    }

    .wrapper .booth_wrapper .busking{
        width: 43%;
        margin: 19.2% 0 0 175%;
    }

    .wrapper .booth_wrapper .icecream{
        width: 35%;
        margin: 13% 0 0 231%;
    }

    .wrapper .booth_wrapper .study{
        width: 42%;
        margin: 14% 0 0 281%;
    }

    .wrapper .booth_wrapper .love{
        width: 42%;
        margin: 14% 0 0 340%;
    }

    .wrapper .booth_wrapper .music{
        width: 42%;
        margin: 13% 0 0 396%;
    }

    .wrapper .booth_wrapper .healing{
        width: 42%;
        margin: 14% 0 0 450%;
    }
    /*툴팁*/
    .fas{
        color: white;
        position: absolute;
        margin: 5% 0 0 490%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -2% 0 0 -3%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}

@media (min-width: 1440px) and (max-width: 1700px){     /*pc 3(15인치, 데탑)*/
    .scroll-icon{
        position: absolute;
        height: auto;
        margin: 18% 0 0 7.5%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }
    .click-icon{
        position: absolute;
        height: auto;
        margin: 24% 0 0 305%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out infinite; 
        -moz-animation:blink 7s ease-in-out infinite; 
        animation:blink 7s ease-in-out infinite;
    }

    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }
    
    .img{
        position: absolute;
        height: auto;
    }
    
    .wrapper .bgSky{
        width: 500%;
    }

    .wrapper .main_wrapper .bgStar1{
        width: 450%;
    }

    .wrapper .main_wrapper .bgStar2{
        width: 550%;
    }

    .wrapper .main_wrapper .bgStar3{
        width: 500%;
    }

    .wrapper .main_wrapper .bgMount1{
        width: 200%;
        margin: 24.5% 0 0 -1.5%;
    }

    .wrapper .main_wrapper .bgMount2{
        width: 310%;
        margin: 28% 0 0 227%;
    }

    .wrapper .main_wrapper .bgMount3{
        width: 200%;
        margin: 24% 0 0 44%;
    }

    .wrapper .main_wrapper .bgMount4{
        width: 300%;
        margin: 27% 0 0 220%;
    }

    .wrapper .main_wrapper .bgGround{
        position: fixed;
        width: 500%;
        margin: 39% 0 0 0;
    }

    .wrapper .main_wrapper .bgLamp{
        width: 450%;
        margin: 10.5% 0 0 49%;
    }

    .wrapper .main_wrapper .bgTree{
        width: 460%;
        margin: 15% 0 0 35%;
    }

    .wrapper .booth_wrapper .banner{
        width: 50%;
        margin: 21% 0 0 113%;
    }

    .wrapper .booth_wrapper .busking{
        width: 42%;
        margin: 21.7% 0 0 175%;
    }

    .wrapper .booth_wrapper .icecream{
        width: 35%;
        margin: 13% 0 0 231%;
    }

    .wrapper .booth_wrapper .study{
        width: 42%;
        margin: 15% 0 0 281%;
    }

    .wrapper .booth_wrapper .love{
        width: 42%;
        margin: 15% 0 0 340%;
    }

    .wrapper .booth_wrapper .music{
        width: 42%;
        margin: 14% 0 0 396%;
    }

    .wrapper .booth_wrapper .healing{
        width: 42%;
        margin: 15% 0 0 450%;
    }

    /*툴팁*/
    .fas{
        color: white;
        position: absolute;
        margin: 5% 0 0 490%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -2% 0 0 -3%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}
@media (min-width: 1701px) and (max-width: 1900px){     /*pc 4(17인치)*/
    .scroll-icon{
        position: absolute;
        height: auto;
        margin: 18% 0 0 7.5%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }
    .click-icon{
        position: absolute;
        height: auto;
        margin: 25% 0 0 305%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out infinite; 
        -moz-animation:blink 7s ease-in-out infinite; 
        animation:blink 7s ease-in-out infinite;
    }
    
    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }
    
    .img{
        position: absolute;
        height: auto;
    }
    
    .wrapper .bgSky{
        width: 500%;
    }

    .wrapper .main_wrapper .bgStar1{
        width: 450%;
    }

    .wrapper .main_wrapper .bgStar2{
        width: 550%;
    }

    .wrapper .main_wrapper .bgStar3{
        width: 500%;
    }

    .wrapper .main_wrapper .bgMount1{
        width: 200%;
        margin: 32% 0 0 -1.5%;
    }

    .wrapper .main_wrapper .bgMount2{
        width: 310%;
        margin: 35.5% 0 0 227%;
    }

    .wrapper .main_wrapper .bgMount3{
        width: 200%;
        margin: 31.5% 0 0 44%;
    }

    .wrapper .main_wrapper .bgMount4{
        width: 300%;
        margin: 34.5% 0 0 220%;
    }

    .wrapper .main_wrapper .bgGround{
        position: fixed;
        width: 500%;
        margin: 46.55% 0 0 0;
    }

    .wrapper .main_wrapper .bgLamp{
        width: 450%;
        margin: 18% 0 0 49%;
    }

    .wrapper .main_wrapper .bgTree{
        width: 460%;
        margin: 22.5% 0 0 37%;
    }

    .wrapper .booth_wrapper .banner{
        width: 50%;
        margin: 28.5% 0 0 113%;
    }

    .wrapper .booth_wrapper .busking{
        width: 42%;
        margin: 29.5% 0 0 175%;
    }

    .wrapper .booth_wrapper .icecream{
        width: 35%;
        margin: 20.5% 0 0 231%;
    }

    .wrapper .booth_wrapper .study{
        width: 42%;
        margin: 22.5% 0 0 281%;
    }

    .wrapper .booth_wrapper .love{
        width: 42%;
        margin: 22.5% 0 0 340%;
    }

    .wrapper .booth_wrapper .music{
        width: 42%;
        margin: 21.5% 0 0 396%;
    }

    .wrapper .booth_wrapper .healing{
        width: 42%;
        margin: 22.5% 0 0 450%;
    }
    /*툴팁*/
    .fas{
        color: white;
        position: absolute;
        margin: 5% 0 0 490%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -2% 0 0 -3%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}
@media (min-width: 1901px) {        /*데탑*/
    .scroll-icon{
        position: absolute;
        height: auto;
        margin: 18% 0 0 7.5%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out; 
        -moz-animation:blink 7s ease-in-out; 
        animation:blink 7s ease-in-out;
    }
    .click-icon{
        position: absolute;
        height: auto;
        margin: 25% 0 0 305%;
        opacity: 0;
        -webkit-animation:blink 7s ease-in-out infinite; 
        -moz-animation:blink 7s ease-in-out infinite; 
        animation:blink 7s ease-in-out infinite;
    }
    
    .wrapper{
        display: flex;
        position: relative;
        max-width: 400%;
    }
    
    .img{
        position: absolute;
        height: auto;
    }
    
    .wrapper .bgSky{
        width: 500%;
    }

    .wrapper .main_wrapper .bgStar1{
        width: 450%;
    }

    .wrapper .main_wrapper .bgStar2{
        width: 550%;
    }

    .wrapper .main_wrapper .bgStar3{
        width: 500%;
    }

    .wrapper .main_wrapper .bgMount1{
        width: 200%;
        margin: 26% 0 0 -1.5%;
    }

    .wrapper .main_wrapper .bgMount2{
        width: 310%;
        margin: 29.5% 0 0 227%;
    }

    .wrapper .main_wrapper .bgMount3{
        width: 200%;
        margin: 25.5% 0 0 44%;
    }

    .wrapper .main_wrapper .bgMount4{
        width: 300%;
        margin: 28.5% 0 0 220%;
    }

    .wrapper .main_wrapper .bgGround{
        position: fixed;
        width: 500%;
        margin: 40.55% 0 0 0;
    }

    .wrapper .main_wrapper .bgLamp{
        width: 450%;
        margin: 12% 0 0 49%;
    }

    .wrapper .main_wrapper .bgTree{
        width: 460%;
        margin: 16.5% 0 0 37%;
    }

    .wrapper .booth_wrapper .banner{
        width: 50%;
        margin: 22.5% 0 0 113%;
    }

    .wrapper .booth_wrapper .busking{
        width: 42%;
        margin: 23.5% 0 0 175%;
    }

    .wrapper .booth_wrapper .icecream{
        width: 35%;
        margin: 14.5% 0 0 231%;
    }

    .wrapper .booth_wrapper .study{
        width: 42%;
        margin: 16.5% 0 0 281%;
    }

    .wrapper .booth_wrapper .love{
        width: 42%;
        margin: 16.5% 0 0 340%;
    }

    .wrapper .booth_wrapper .music{
        width: 42%;
        margin: 15.5% 0 0 396%;
    }

    .wrapper .booth_wrapper .healing{
        width: 42%;
        margin: 16.5% 0 0 450%;
    }
    /*툴팁*/
    .fas{
        color: white;
        position: absolute;
        margin: 5% 0 0 490%;
        z-index: 5;
    }
    .fas:hover{
        transform: scale(1.2);
        transition: 0.1s ease-in-out;
    }
    .exit{
        display: inline-block;
        position: fixed;
        margin: 5% 0 0 42%;
    }
    .exit .tooltip{
        position: fixed;
        width: 100px;
        padding: 0;
        visibility: hidden;
        /* background-color: white; */
        color: white;
        text-align: center;
        z-index: 5;
    }
    .exit .tooltip h1{
        position: fixed;
        font-size: 16px;
        margin: -2% 0 0 -3%;
        z-index: 5;
    }
    .exit:hover .tooltip{visibility: visible;}
}


.wrapper .booth_wrapper .study:hover{
    /* background-blend-mode: darken; */
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    filter: brightness(120%);
}
.wrapper .booth_wrapper .love:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    filter: brightness(120%);
}
.wrapper .booth_wrapper .music:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    filter: brightness(120%);
}
.wrapper .booth_wrapper .healing:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    filter: brightness(120%);
}