
.modal_wrap{
    /* 엽서 팝업 창 */
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
}
.black_bg{
    /* 뒷배경(축제 부스들) */
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close{
    /* 텍스트를 아이콘으로 변경 */
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}
.modal_close> a{
    /* close버튼 누르면 엽서 팝업 닫힘 */
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}